.FAQ{
  text-align: center;
}
.faqouter{
  width: 1320px;
  margin: auto;
}
.faqitems{
  border: 1px solid red;
  margin-bottom: 20px;
}
.faqitems h2{
  margin: 0px;
  padding: 10px;
  background-color: #2B2c34;
  color: white;
  text-align: left;
}
.faqitems p{
  text-align: left;
  margin: 0px;
  padding: 0px;
  height: 0px;
  transform: scaleY(0);
  transition: 0.5s;
}
.activeans{
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}