.container{
  text-align: center;
}
form{
    display: flex;
    justify-content: center;
    gap: 10px;
}
form input{
  width: 900px;
  height: 40px;
}
.outerDiv{
  width: 900px;
  margin: auto;
}
.outerDiv ul{
 
 list-style: none; 
}
.outerDiv ul li{
  color: aliceblue;
  background-color: black;
  text-align: left;
  padding: 5px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 10px;
}
.outerDiv ul li span{
  cursor: pointer;
  right: 20px;
  position: absolute;
}
.completetodo{
  text-decoration: line-through;
  color: red !important;
  background-color: yellow !important;
}